* {
	/*margin: 0 auto !important;*/
	/*padding: 0 !important;*/
	/*border-radius: 0 !important;*/
	background-repeat: no-repeat !important;
}

h1{
	color: white !important;
}
#top h2 {
	color: red;
}

.before-start {

}

.before-start h2 {
	
}

#stage, #top {
	background-color: black; 
}

.started {
	display: none;
}

.clickable:hover {
	border: 2px solid lightblue;
}

#stage .card {
	height: 362px;
}

.card {
	background-color: white;
	border-radius: 6px;
}

.button-wrapper {
	padding-top: 40px;
	padding-bottom: 40px;
}

.btn-lightblue {
	color: white;
	background-color: lightblue;
	border-color: lightblue;
}

.btn-lightblue:hover {
	color: white;
	background-color: #89a7b1;
	border-color: #89a7b1;
}

.message-area {
	background-color: white;
	height: 164px;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 6px;
	padding: 30px;
}
.message-area p {
	font-size: 12px;
	font-family: "Courier";	
}

.names {
	color: #a4a4a4;
}

.character-pts {
	color: red;
}

.your-img, .enemy-img, .character-imgs {
	height: 225px;
	background-size: contain;
	background-position: center;
	/*background-image: url("../images/domo.gif");*/
}
.your-pts, .enemy-pts {
	color: limegreen;
}

